html,
body,
#intro {
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
  height: 100%;
}

div {
  display: flex;
  /* border: 1px solid red; */
  padding: 1px;
}

#master-container {
  display: flex;
  flex-direction: column;
}

#intro {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

img {
  border: 5px solid blue;
  border-radius: 50px;
  transition: 1s;
}

input {
  border: 5px solid red;
  border-radius: 50px;
  transition: 1s;
}

#computer-icons,
#player-icons {
  display: flex;
  justify-content: center;
}

.mouse-over {
  transition: 1s;
  opacity: 1;
}

.no-mouse-over {
  transition: 1s;
  opacity: 0.2;
}
h1 {
  padding: 0px;
  margin: 0px;
}

#intro-welcome,
#intro-players,
#intro-rules,
#intro-weapons,
#player-icons,
#computer-icons {
  transition: 1s;
  opacity: 0%;
}

#computer-rock,
#computer-paper,
#computer-scissors {
  transition: 1s;
}

#round-results {
  display: flex;
  justify-content: center;
}

#round-results-text {
  opacity: 0%;
  transition: 1s;
}
